*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
custom.el
config.el
projectile.cache
ido.last
org-clock-save.el
network-security.data
request
.org-id-locations
bookmarks
.html